@font-face {
	src: url("../fonts/HPSimplified_Bd.ttf") format("truetype");
	font-family: "HPSimplified bold";

}
@font-face {
	src: url("../fonts/HPSimplified_Lt.ttf") format("truetype");
	font-family: "HPSimplified light";

}
@font-face {
	src: url("../fonts/HPSimplified_Rg.ttf") format("truetype");
	font-family: "HPSimplified normal";

}

h1 {
	display: none;
}


article {
    font-family: "HPSimplified normal", sans-serif;
}

#corpsPage {
	display: grid;
	grid-template-columns: 450px 450px;
	width: 100%;
    margin: 0 auto 40px auto;
    align-items: center;
	justify-content: center;
}
.continent{
    display: none;
}

article {
	margin: 5px;
	height: 185px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#corpsPage>a:hover {
    text-decoration: none;
}
.europe {
	background-color: rgb(175, 127, 141);
}
.asie {
	background-color:rgb(233, 124, 61);
}
.amerique {
	background-color: rgb(95, 80, 105);
}
.afrique {
	background-color: rgb(161, 152, 67);
}
.oceanie {
	background-color: rgb(89, 140, 163);
}

article div {
	flex:1;
}
article ul {
	flex:1;
	padding: 0;
}

.image, .légende {
	padding: 4px;
}

article ul li {
	list-style-type: none;
	color: white;
	padding: 4px;
}

h2, h3, p {
	margin: 0;
}

.pays {
	font-size: 1em;
	font-family: "HPSimplified normal", sans-serif;
	text-transform: uppercase;
	margin-top: 4px;
}

.typeTrip {
	font-size: 0.9em;
	font-family: "HPSimplified light", sans-serif;
}

.auteur {
	font-size: 0.7em;
	font-family: "HPSimplified light", sans-serif;
	text-align: right;
	margin-bottom: 8px;
}

.récit {
	font-size: 0.8em;
	font-family: "HPSimplified light", sans-serif;
	text-align: justify;
}

a {
	text-decoration: none;
}



/*  format moyen */

@media screen and (max-width: 900px) {
    #corpsPage {
        display: grid;
        grid-template-columns: 380px 380px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
    
    .article {
        margin: 5px;
        height: 185px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    
    .image img{
        width: 200px;
        margin-top: 4px;
    }
    
    .image {
        padding: 0 4px;
    }
    .légende {
        padding: 0 1px;
    }
    
    .légende {
        width: 100%;
    }
    
    article ul li {
        list-style-type: none;
        color: white;
        /* padding: 4px; */
    }
    
    .pays {
        margin: 0 2px;
        font-size: 0.8em;
        font-family: "HPSimplified light", sans-serif;
        text-transform: uppercase;
    }
    
    .typeTrip {
        margin: 0 2px;
        font-size: 0.7em;
        font-family: "HPSimplified light", sans-serif;
    }
    
    .auteur {
        margin: 0 2px;
        font-size: 0.7em;
        font-family: "HPSimplified light", sans-serif;
        text-align: right;
        margin-bottom: 4px;
    }
    
    .récit {
        /* display: none; */
        margin: 0 2px;
        font-size: 0.7em;
        font-family: "HPSimplified normal", sans-serif;
        text-align: justify;
    }
}


/*  format petit */

@media screen and (max-width: 760px) {
    #corpsPage {
        display: grid;
        grid-template-columns: 500px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        }
        
        .article {
        margin: 5px;
        height: 200px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        }
        
        
        .image img{
        width: 230px;
        margin-top: 4px;
        }
        aritcle ul {
        padding: 0;
        }
        
        .image {
        padding: 0 4px;
        }
        
        .légende {
        padding: 0 5px;
        width: 100%;
        }
        
        article ul li {
        list-style-type: none;
        color: white;
        /* padding: 4px; */
        }
        
        .pays {
        margin: 0 2px;
        font-size: 1em;
        font-family: "HPSimplified light", sans-serif;
        text-transform: uppercase;
        }
        
        .typeTrip {
        margin: 0 2px;
        font-size: 1em;
        font-family: "HPSimplified light", sans-serif;
        }
        
        .auteur {
        margin: 0 2px;
        font-size: 0.9em;
        font-family: "HPSimplified light", sans-serif;
        text-align: right;
        margin-bottom: 4px;
        }
        
        .récit {
        /* display: none; */
        margin: 0 2px;
        font-size: 0.9em;
        font-family: "HPSimplified normal", sans-serif;
        text-align: justify;
        }
}


/*  format tout petit */

@media screen and (max-width: 475px) {
    #corpsPage {
        display: grid;
        grid-template-columns: 390px;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        }
        
        .article {
         flex: 1;
         margin: 2px 55px;
         height: 290px;
         
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: start;
        }
        
        
        .image img{
        width: 250px;
        margin-top: 15px;
        }
     
        
        .légende {
         margin:0;
        padding: 0px 2px;
        width: 100%;
        }
        
        article ul li {
        list-style-type: none;
        color: white;
        /* padding: 4px; */
        }
        
        .pays {
         margin: 0 15px;
         font-size: 1em;
         font-family: "HPSimplified normal", sans-serif;
         text-transform: uppercase;
         padding: 0;
     }
     
     .typeTrip {
         margin: 0 15px;
         padding: 0;
         font-size: 0.9em;
         font-family: "HPSimplified light", sans-serif;
     }
     
     .auteur {
         margin: 0 15px 15px 0;
         font-size: 0.75em;
         font-family: "HPSimplified light", sans-serif;
         text-align: right;
         margin-bottom: 8px;
         padding: 0;
     }
     
     .récit {
         display: none;
         margin: 0 15px;
         font-size: 0.8em;
         font-family: "HPSimplified normal", sans-serif;
         text-align: justify;
     }
}